<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />

    <style>

    </style>
</head>

<body>
    <div id="toasts" class="toast" aria-live="polite" aria-atomic="true"></div>
    <form hx-post="/save" hx-target="#result" hx-swap="innerHTML">
        <input name="title" placeholder="Title" />
        <button type="submit">Save</button>
    </form>
    <div id="result"></div>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
</body>

</html>